/* Bordered form */
form {
  border: 10px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Button hover */
button:hover {
  opacity: 0.8;
}

/* Center text in title */
.title {
  text-align: center;
  padding: 16px;
  background-color:#f1f1f1
}

/* Search button */
.searchbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #36a2f4;
}

/* Add padding to containers */
.container {
  padding: 50px;
}

.postcontainer{
  padding: 50px;
  border: 3px solid #f1f1f1;
}

.uploadpost{
  padding: 50px;
  border: 20px solid #f1f1f1;
  text-align: center;
}