<!doctype>
<html>
    <head>
        <title> Login Page </title>
    </head>
    <body>
        <h1>X2 : Login</h1>
        <p>Better than the first X</p>
        <h3>{{ status }}</h3>
        
        <form action='/login' method="POST">
            <p><b>User ID</b></p>
            <input type="text" name="uID" placeholder="Enter User ID" value="ali1312"></br>
            <p><b>Password</b></p>
            <input type="text" name="pw" placeholder="Enter Password" value="Ta13nt"></br></br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>