<!doctype>
<html>
    <head>
	<link rel="stylesheet" href="/static/style.css">
        <title> X2 Home Page </title>
    </head>
    <body>
	<div class="title">
        <h1>X2 : Home</h1>
	</div>

	<form action='/posts' method="POST">
	<div class="container">
            <b>Search for a user</b>
            <input type="text" name="uname" placeholder="Enter username" value="John">
            <button type="submit" class="searchbtn">Search</button> 
	</div>
        </form>

        {% if posts %}
	    <div class="title">
	    <h2><b>{{ user }}'s posts:</b></h2>
	    </div>

            {% for post in posts %}

	    <div class="postcontainer">
            <b>User: {{ post.uname }}</b>
	    <p>{{ post.content }}</p> 

	    <p>Tags: 
	    {% if post.tags %}
                {% for tag in post.tags %}
                    #{{ tag }}
                {% endfor %}
            {% else %}
                <td> - </td>
            {% endif %}
	    </p>
	    </div>

	    {% endfor %}
	
        {% else %}
	<div class="title">
	<h2><b>Posts:</b></h2>
	</div>

	<div class="postcontainer">
        <p>No such user/ No posts yet</p>
	</div>
        {% endif %}
	</br>

	<div class="uploadpost">
            <h3>Upload a post <a href="/upload">here</a></h3>
	</div>

    </body>
</html>