<!doctype>
<html>
    <head>
	<link rel="stylesheet" href="/static/style.css">
        <title> Upload a Post </title>
    </head>
    <body>
	<div class="title">
        <h1>X2 : Posts</h1>
	</div>

	<form action='/upload' method="POST">
	<div class="container">
            <b>Upload a post</b>
            <input type="text" name="content" placeholder="Enter Content"></br>

            <b>Tag(s)</b>
            <input type="text" name="tags" placeholder="#USA, #rich, #FinallyFinishedThisComputingQuestion"></br></br>

            <button type="submit" class="searchbtn">Upload</button> 
	</div>
        </form>

        <div class="uploadpost">
            <p>Cancel and <a href="/posts">return</a></p>
	</div>
 
    </body>
</html>