<!doctype>
<html>
    <head>
        <title> Upload a Post </title>
    </head>
    <body>
        <h1>X2 : Posts</h1>
        <p>Better than the first X</p>
        
        <h3>Upload a post</h3>
        <!-- <a href="/posts">Cancel and return</a> not sure how-->
        
        <form action='/upload' method="POST">
            <p><b>Content</b></p>
            <input type="text" name="content" placeholder="Enter Content"></br>
            <p><b>Tag(s)</b></p>
            <input type="text" name="tags" placeholder="#USA, #rich, #FinallyFinishedThisComputingQuestion"></br></br>
            <input type="submit" value="Upload">
        </form>
    </body>
</html>